/* Colors */

$title-primary-color: #026842;
$title-secondary-color: #545756;
$title-tertiary-color: #888888;
$paragrap-primary-color: #000000;
$paragrap-secondary-color: #545756;

$background-primary-color: #F6F4F2;
$background-secondary-color: #ECF2F0;
$background-tertiary-color: #B4D2C8;
$background-quaternary-color: #DCDCDC;

/* Fonts */

$paragraph-font-family: Georgia, Times, "Times New Roman", serif;

/* Labels */

body{
    margin: 0;
    padding: 0;
    background-color: #ffffff;
    color: $paragrap-primary-color;
}

h1{
    font-family: "Alex Brush", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 60px;
    text-align: center;
    color: $title-primary-color;
}

h2{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 400;
    font-style: italic;
    font-size: 18px;
    line-height: 1.6;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: $title-secondary-color;
}

h3, li{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 400;
    font-style: italic;
    font-size: 13px;
    line-height: 1.6;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: $title-tertiary-color;
    text-decoration: none;
}

p{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
    font-size: 20px;
    color: $paragrap-primary-color;
}

a{
    text-decoration: none;
}

.circle-icon{
    width: 120px;
    height: 120px;
    background-color: $background-tertiary-color;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    transition: transform 1s;
    position: relative;
    img{
        padding: 10px;
    }
    &:hover{
        transform: rotateY(360deg);
    }
}